@model Recipe
@{
    ViewData["Title"] = "Recipe";
}

<h1>Enter an ingredient to search for recipes...</h1>
<form asp-controller="Recipe" asp-action="NewRecipe" method="post">
    <p>
        Recipe Search: <input type="text" name="search" />
        <input type="submit" value="Search" />
    </p>
</form>

