@model  Recipe
@{
    ViewData["Title"] = "SearchResult";
}

<h1>Recipes:</h1>



<table class="table">

    <tbody>
        @foreach (var item in Model.Results)
        {
        <tr>
            <td align="left">
                <img src="@Url.Content(item.Thumbnail)" />
            </td>
            <td align="left">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td align="left">
                <a href="@Url.Content(item.Href)" target="_blank">@Html.DisplayFor(modelItem => item.Href)</a>                
            </td>            
            <td align="left">
                @using (Html.BeginForm("AddFavorite", "RecipeFavorites", new { title = item.Title, ing = item.Ingredients, pic = item.Thumbnail, link = item.Href }))
                {
                    <input class="button" type="submit" value="Add to Favorites" />
                }
            </td>
        </tr>
        }
    </tbody>
</table>