@model  Recipe
@{
    ViewData["Title"] = "SearchResult";
}

<h1>SearchResult</h1>



<table class="table">

    <tbody>
        @foreach (var item in Model.Results)
        {
        <tr>
            <td align="left">
                <img src="@Url.Content(item.Thumbnail)"/>
            </td>
            <td align="left">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td align="left">
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
        </tr>
        }
    </tbody>
</table>