@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">API Project</h1>
    <p>Work with Recipe and Event APIs to build a small ASP.Net application</p>
    <p><a href="http://www.recipepuppy.com/about/api/">Recipe Puppy</a> and <a href="https://developer.ticketmaster.com/products-and-docs/apis/getting-started/">Ticketmaster</a>.</p>
</div>
